<html>
<head>
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="e-Salesman"
  agent-id="48c6eaa7-21b7-43e9-b433-4bc8f29c73e4"
  chat-icon="https://image.flaticon.com/icons/png/128/2040/2040946.png"
  language-code="en"
></df-messenger>
<style>
  df-messenger {
   --df-messenger-bot-message: #bcc4e0;
   --df-messenger-button-titlebar-color: #bcc4e0;
   --df-messenger-chat-background-color: #fafafa;
   --df-messenger-font-color: rgb(26, 17, 17);
   --df-messenger-send-icon: #bcc4e0;
   --df-messenger-user-message: #a5e79e;
  }
</style>
</head>
</html>
